body {
    background: linear-gradient(to bottom, #222233, #000000) fixed;
    font-family: poppins, serif;


}
.loading {
    /*background-color: #cccccc;*/
    opacity: 0; /* Initial opacity to hide the element */
    transition: opacity 2s ease; /* Transition the opacity property over 2 second with ease-in-out timing function */
}
.loading h1 {
    color: #ffffff;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 40px;
}


.topnav{
    display: flex;
    justify-content: center;
    background-color: #5B45ED;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5B45ED;
}

.topnav li {
    float: left;
    background-color: #5B45ED;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    background-color: #5B45ED;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: #3620F0;
}
#pauseButton{
    /*make the button small and only in the bottom left corner*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
}
#raindrop{
    position:fixed;
    top: 24%;
    left: 10%;
    width: 450px;
    height: 600px;
}
.textbox{
    /*This will appear to the right of the raindrop, and take up 50% of the right side of the screen*/
    position:fixed;
    top: 24%;
    left: 42%;
    width: 50%;
    height: 600px;

}

#exp_grid{
    /*This will be a grid of elements with an internal div with the class of exp_element*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;

}
.exp_element{
    /*This will be the element that is in the grid*/
    background-color: #0e008c;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
}
.exp_element h2 {
    /*This will be the title of the element*/
    font-size: 30px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}
.exp_element p{
    /*This will be the title of the element*/
    font-size: 20px;
    color: #b7f0ff;
    padding: 5px;
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: 'Poppins', sans-serif;
}
.exp_element a{
    /*Change the color of the link*/
    color: #7590ff;
}

.page_title{
    /*This will be the title of the page*/
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-top: 35px;
    margin-bottom: 35px;
    /*Make the font orbitron*/
    font-family: 'Orbitron', sans-serif;
}